<div class="row">
    <div class="col">
        <h4>Quiz</h4>
        <hr />
    </div>
</div>
<div *ngIf="this.questions!==undefined">
    <div class="row">
        <div class="col">
            <div>
                <div><strong>Grade: </strong> {{this.questions.questions[0].grade}}</div>
            </div>
        </div>
        <div class="col">
            <div>
                <div><strong>Subject: </strong> {{this.questions.questions[0].subject}}</div>
            </div>
        </div>
        <div class="col">
            <div>
                <div><strong>Topic: </strong> {{this.questions.questions[0].topic}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <div>{{this.questions.questions[0].line1}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <div style="text-align: right;">
                 <span> {{this.questions.questions[0].line2.charAt(0)}}</span> 
                 <span> &nbsp;</span> 
                 <span> {{this.questions.questions[0].line2.charAt(1)}}</span> 
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <div style="text-align: right;">
                 <span> {{this.questions.questions[0].line3.charAt(0)}}</span> 
                 <span> &nbsp;</span> 
                 <span> {{this.questions.questions[0].line3.charAt(1)}}</span> 
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <div style="text-align: right;">
                    <input name="answer1" type="text" size="1" maxlength="2" class="number-input" #answer1 style="width: 24px;">
                    <input name="answer2" type="text" size="1" maxlength="2" class="number-input" #answer2 style="width: 24px">
                </div>
            </div>
        </div>
        <div class="col"><button type="submit" (click)="onSubmit(answer1.value,answer2.value)">Submit</button></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>